
html {
  background-color: rgb(36, 36, 36);  
  font-size: 16px;
}
@media (min-width:768px) {
  font-size: 18px;
}
@media (min-width:1024px) {
  font-size: 19px;
}
@media (min-width:1280px) {
  font-size: 20px;
}