
html {
  background-color: rgb(36, 36, 36);  
}

p {
  font-size: 28px;
}
@media (min-width:768px) {
  p {font-size: 28px;}
}
@media (min-width:1024px) {
  p {font-size: 23px;}
}
@media (min-width:1280px) {
  p {font-size: 18px;}
}